@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  text-decoration: none;
  list-style: none;
}

/**
INITIALIZING VARIABLES
*/
:root {
  --red-color: #fa1239;
  --pink-color: rgba(253, 146, 164, 0.3);
  --border: 2px solid black;

  --red-box-shadow: 0 0 12px rgba(250, 18, 57, 0.58);
}

/**
UTILITY CLASSES
*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-inline: 20px;
}

.primary-btn {
  outline: none;
  border: none;
  background-color: var(--red-color);
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 14px 22px;
  border-radius: 34px;
  box-shadow: var(--red-box-shadow);
  cursor: pointer;
}

.secondary-btn {
  outline: none;
  border: 2px solid var(--red-color);
  color: var(--red-color);
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 14px 22px;
  border-radius: 34px;
  box-shadow: var(--red-box-shadow);
  cursor: pointer;
}

.badge {
  background-color: rgba(253, 146, 164, 0.3);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.red-text {
  color: var(--red-color);
}

/**
DESIGNING NAVBAR
*/

header {
  width: 100%;
  height: 100px;
}

.navbar-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container > img {
  width: 22vw;
  max-width: 200px;
  min-width: 125px;
}

.navbar-container .navlinks-box {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navbar-container .navlinks-box .navlink-item {
  color: black;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.2s ease;
}

.navbar-container .navlinks-box .navlink-item:hover {
  color: var(--red-color);
}

.navbar-container .hamburgur-menu {
  width: 24px;
  height: 24px;
  display: none;
}

/**
Media Queries for Navbar
*/

@media (max-width: 800px) {
  .navbar-container .navlinks-box {
    display: none;
  }

  .navbar-container .navbar-primary-btn {
    display: none;
  }

  .navbar-container .hamburgur-menu {
    display: block;
  }
}

/**
SIDEBAR DESIGN
*/

.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  inset: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.7);
}

.sidebar-overlay.open {
  visibility: visible;
}

.sidebar-box {
  position: absolute;
  height: 100vh;
  right: -100%;
  top: 0;
  width: 85%;
  max-width: 400px;
  background-color: #ffe3e8;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.sidebar-box.open {
  right: 0;
}

.sidebar-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.sidebar-header > img {
  width: 22vw;
  max-width: 200px;
  min-width: 125px;
}

.sidebar-close-btn {
  width: 32px;
  height: 32px;
}

.sidebar-close-btn svg {
  fill: var(--red-color);
}

.sidebar-navlinks-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 16px;
  gap: 40px;
}

.sidebar-navlink-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 24px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  transition: all 0.3s ease;
}

.sidebar-navlink-item > svg > path,
.sidebar-navlink-item > svg > g {
  fill: black;
  transition: all 0.2s ease;
}

.sidebar-navlink-item.active {
  color: var(--red-color);
}

.sidebar-navlink-item.active > svg > path,
.sidebar-navlink-item.active > svg > g {
  fill: var(--red-color);
}

.sidebar-primary-btn {
  width: 90%;
}

/**
DESIGNING HERO SECTION
*/
.hero-section {
  width: 100%;
  background: #ffe7eb;
  background: linear-gradient(
    229deg,
    rgba(255, 231, 235, 1) 0%,
    rgba(255, 191, 202, 1) 100%
  );
}

.hero-container {
  display: grid;
  grid-template-columns: 40rem auto;
  height: 100%;
  min-height: 42rem;
  overflow: hidden;
  padding: 2rem 0;
}

/**
Designing hero left section
*/

.hero-left-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 2rem;
  gap: 38px;
}

.hero-box-title {
  font-size: 64px;
  font-weight: bold;
  line-height: 140%;
  text-transform: capitalize;
}

.hero-box-title span {
  color: var(--red-color);
  position: relative;
}

.hero-box-title span::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  background-image: url("./assets/dashes.svg");
  width: 300px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-decs-text {
  line-height: 38px;
  font-size: 16px;
}

.hero-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

/**
Designing hero right section
*/

.hero-right-section {
  position: relative;
  width: 100%;
}

.hero-right-section .ellipse-1 {
  background: #ffe4e9;
  background: radial-gradient(
    circle,
    rgba(255, 228, 233, 1) 0%,
    rgba(255, 203, 212, 1) 34%
  );
  width: 90%;
  max-width: 36rem;
  aspect-ratio: 1/ 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.hero-right-section .ellipse-2 {
  background: #fecdd5;
  background: radial-gradient(
    circle,
    rgba(254, 205, 213, 1) 0%,
    rgba(255, 226, 231, 1) 34%
  );
  width: 80%;
  max-width: 30rem;
  aspect-ratio: 1/ 1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-right-section .hero-bg-image {
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.hero-right-section .instructor-rating-img {
  position: absolute;
  max-width: 18rem;
  width: 65%;
  top: 55%;
  left: -10%;
}

.hero-right-section .courses-img {
  position: absolute;
  max-width: 15rem;
  width: 50%;
  bottom: -3%;
  right: -10%;
}

/**
Media Queries for Hero Section
*/

@media (max-width: 1200px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .hero-right-section {
    position: relative;
    height: 42rem;
  }

  .hero-left-section {
    width: 48rem;
    margin-inline: auto;
    padding-left: 0;
  }

  .hero-box-title {
    text-align: center;
    width: 85%;
    margin-inline: auto;
  }

  .hero-decs-text {
    text-align: center;
  }

  .hero-btn-container {
    justify-content: center;
  }

  .hero-right-section .ellipse-1 {
    max-width: 30rem;
  }

  .hero-right-section {
    height: 34rem;
  }
}

@media (max-width: 768px) {
  .hero-left-section {
    width: 34rem;
  }
  .hero-right-section .ellipse-1 {
    max-width: 25rem;
  }

  .hero-right-section {
    height: 28rem;
  }
  .hero-box-title {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .hero-box-title {
    margin-inline: auto;
    font-size: 40px;
    width: 26rem;
  }

  .hero-box-title span::after {
    width: 230px;
  }

  .hero-decs-text {
    line-height: 34px;
  }

  .hero-left-section {
    width: 95%;
    gap: 3rem;
  }
}

@media (max-width: 450px) {
  .hero-left-section {
    gap: 2rem;
  }

  .hero-box-title {
    font-size: 34px;
    width: 22rem;
  }

  .hero-box-title span::after {
    width: 175px;
    bottom: -28px;
  }

  .hero-decs-text {
    width: 90%;
    margin-inline: auto;
  }

  .hero-btn-container {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-right-section .ellipse-1 {
    max-width: 95%;
  }

  .hero-right-section {
    height: 24rem;
  }
}

@media (max-width: 350px) {
  .hero-box-title {
    width: 18rem;
  }

  .hero-decs-text {
    font-size: 14px;
  }
}

/**
DESIGNING FEATURES SECTION
*/

.features-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  gap: 50px;
}

.features-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.features-header .features-title {
  font-size: 44px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.features-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.features-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.feature-box-image {
  width: 80%;
  max-width: 200px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.feature-box-title {
  margin: 1rem 0 1.5rem 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
}

.feature-box-desc {
  font-size: 18px;
  color: #595959;
  text-align: center;
}

/**
Media Queries for Features Section
*/

@media (max-width: 900px) {
  .features-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .features-header .features-title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .features-cards-container {
    grid-template-columns: 1fr;
  }
}
